.users .name {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

.terrance {
    width: 137px;
    height: 219px;
    margin: 0 50px;
    display: inline-block;
    margin: auto 1.5em;
}

.terrance .bot {
    margin-top: -150px;
    margin-left: 3px;
}
