<div class="container">
    <div class="users">
        <div class="head">
            <div class="top"><img src="img/t_top.png" alt=""></div>
            <div class="bot"><img src="img/t_bot.png" alt=""></div>
            <div class="name"></div>
        </div>
    </div>
</div>